:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html{
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body{
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: blue;
}
.main{
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden; 
}
.flex-container{
  display: flex;
  flex-direction: column;
  height: max-content;
}
.topbar{
  padding: 1rem;
  background-color: red;
}
.footer{
  padding: 1rem;
  position: relative;
  bottom: 0;
  background-color: red;
}

.contentblock{
  margin-left: 3%;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: fit-content;
  height: fit-content;
  background-color: aqua;
}

.roundborder{
  border-radius: 10px;
}
.overflowscroll{
  overflow-y: scroll;
}
.pageblock{
  margin-left: 10%;
  width: 80%;
  height: 100%;
  padding: 1rem;
  background-color: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
